@model DogViewModel

<h1>Create</h1>
<hr />
<section class="container">
    <div class="row">

        <div class="col-6">

            <div>
                <div class="card-header mb-3">
                    <h5> Create New Dog</h5>
                </div>

                <div class="card-body">
                    <form asp-controller="Helloworld" asp-action="CreateDog" method="post">
                        <div>
                           <lable class="form-label">
                                Dog Name
                           </lable>
                            <input asp-for=Name type="text"  class="form-control"/>
                        </div>
                        <div>
                            <lable  class="form-label">
                                Dog Age
                            </lable>
                            <input asp-for=Age type="number" class="form-control"/>
                        </div>
                        <div class="pt-5">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>

                <div class="card-footer">

                </div>
            </div>



            
        </div>

    </div>
</section>